sudo: false
language: node_js
node_js:
- node
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
deploy:
  provider: npm
  email: core@donejs.com
  api_key:
    secure: doV3Gt9HVll1Nny4oiQz8lI4ViBaSSLpcLYs1HpE0v2gpm5bfd8hDew55cYFoCeqWrQUfIKXi+HM9SibZwERzvze2SXplHxckYSQfYf+wwSji4Fv/9z5iwWmKptweVXVkyH4UaKC50LilXoN52Q+PB7KP57lQZGoOKvYnezCJ1I=
  on:
    tags: true
    repo: bitovi/testee
