<section class="top">
	<div class="container">
		<div class="row">
		  <div class="span6">

		  </div>
		  <div class="span6">
		  	Testee.JS runs your Mocha, QUnit or Jasmine unit tests from the command line
		  	using any browser.

		  	<ul class="features">
		  		<li>Runs on all browsers <small>(<a href="#">supporting</a> SocketIO)</small></li>
		  		<li>Many <a href="#">output formats</a></li>
		  		<li>CI integration</li>
		  		<li>BrowserStack support</li>
		  		<li>GruntJS Task</li>
		  	</ul>
		  </div>
		</div>
	</div>
</section>