// CSS Reset
@import "bootstrap/reset.less";

// Core variables and mixins
@import "variables.less";
@import "bootstrap/mixins.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";

// Base CSS
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";

// Components: common
@import "bootstrap/sprites.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/wells.less";
@import "bootstrap/component-animations.less";
@import "bootstrap/close.less";

@import "bootswatch.less";

@import "bootstrap/utilities.less";

@import "highlighter.less";

h2 {
	font-size: 36px;
	border-bottom: 1px solid @lowLight;
}

pre {
	border-left: @baseFontSize solid @highlightComment;
	padding-left: @baseLineHeight;
}

blockquote, code {
	border: none;
	background-color: @lowLight;
	color: @highlightText;
	font-family: @highlightFont;
	font-weight: normal;
}

blockquote {
	code {
		font-size: @baseFontSize;
	}
	background-color: @lowLight;
	border-left: @baseFontSize solid @highlightOrange;
}

header {
	padding: 30px;

	h1 {
		font-size: @baseFontSize * 4;
		font-weight: bold;
		color: @lowLight;
		text-shadow: -1px 1px 2px @highlightComment;
	}
}

section.top {
	border-top: 2px solid @highlightComment;
	box-shadow: 0 4px 6px #66747C;
	background-color: @lowLight;
	padding: 60px 0;
	color: @highlightText;
	font-size: @baseFontSize;
	line-height: @baseLineHeight * 2;
	font-family: @highlightFont;
}